<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이력서</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        @page {
            size: A4;
            margin: 20mm;
        }
        body {
            margin: 20px;
        }
        .container {
            max-width: 800px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img th:src="@{${logoPath}}" alt="이씨오 로고">
            <p><span th:text="${currentDateTime}"></span></p>
        </div>
        <hr>
        <h1>이력사항</h1><br>
        <p><strong>이름: </strong>정이주</p>
        <p><strong>연락처: </strong>010-9220-1692</p>
        <p><strong>이메일: </strong>yijujeong20@gmail.com</p>
        <p><strong>기술 스택: </strong>Java, Spring Boot, JSP, Javascript, MySQL, Oracle, MyBatis</p>
        <p><strong>학력: </strong>2020.03 ~ 2024.02 경기과학기술대학교</p>
        <p><strong>자격, 어학: </strong>2021.12 네트워크관리사 2급, 2023.06 정보처리기사 필기 합격, 2024.11 JPT(일본어) 815점</p>
        <p><strong>프로젝트 경험: </strong>서울 민원접수 애플리케이션, 관리자 페이지 구현 (Spring, JSP, Javascript, Oracle, MyBatis 등)</p>
        <hr>
        <div class="footer">
            <img th:src="'data:image/png;base64,' + ${base64Image}"  style="max-width: 100%; height: auto;">
            <span th:text="${quote}"></span>
        </div>
    </div>
</body>
</html>